{% extends 'base.html' %}

{% block conteudo %}
<form action="{{url_for('login')}}" method="post">
    <label>
        email:
        <input type="text" name="form-email">
    </label><label>
    senha:
    <input type="password" name="form-senha">
</label>
    <button type="submit">Entrar</button>

</form>
<a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Não tem conta?Registre-se</a><br><br>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Usuario</h1>
            </div>
            <div class="modal-body">
                <form id="form-login" class="form-nome" action="{{ url_for('cadastro_usuario') }}" method="post">
                    <label>
                        E-Mail:
                        <input id="input-email" placeholder="Digite seu email" name="form-email" class="form-control">
                        Senha:
                        <input id="input-senha" placeholder="Digite sua senha" name="form-senha" class="form-control">

                    </label>

                    <button type="submit">Cadastrar</button>
                    <button class="btn btn-danger my-2"onclick="limpaInputsLogin()">Cancelar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

